p, h1, h2 {
    margin-left: 10%;
    margin-right: 10%;
}

button {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.main {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}