<div class="topnav">
  <a [routerLink]="['/']" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Home</a>
  <a [routerLink]="['/dirs']" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Open directories</a>
  <a [routerLink]="['/drive']" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Google drive</a>
  <!-- <a [routerLink]="['/contact']" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Contact</a> -->
</div>
<router-outlet></router-outlet>