<div class="main">
    <div class="mat-display-2" style="text-align:center;margin-top: 2%;">
        Hi!
    </div>
    <div class="mat-h2">
        This website is made to find exposed directories and similar stuff 
        with the most visited page on the internet: Google.com. These search terms are so-called "dorks", 
        and you can find a lot of interesting stuff with them.
        I plan on adding more dorks in the future, to find other interesting webpages.
        <br>
        For other nerds: this page is build with angular and typescript and runs on Github pages.
        <br>
        <br>
        Remember, this is for research purposes only.
    </div>
</div>